@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;

}

.toolbar {
    background-color: '#111';
    width: '100%';
    margin: '0 auto';
    border-radius: '5px';
    box-shadow: '0px 2px 4px rgba(0, 0, 0, 0.5)';
}

.MenubarRoot {
  display: flex;
  background-color: transparent;
  padding: 0px;
  border-radius: 5px;
}

.MenubarTrigger {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  
}
.MenubarTrigger:hover {
    border: 1px solid transparent; /* Set the desired border color when hovering */
  }

.MenubarTrigger[data-highlighted],
.MenubarTrigger[data-state='open'] {
  background-color: #111;
  
}

.MenubarContent,
.MenubarSubContent {
  min-width: 220px;
  background-color: #111;
  border-radius: 6px;
  padding: 5px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  
}

.MenubarItem,
.MenubarSubTrigger,
.MenubarCheckboxItem,
.MenubarRadioItem {
  all: unset;
  font-size: 13px;
  line-height: 1;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10px;
  position: relative;
  user-select: none;
}

.MenubarItem.inset,
.MenubarSubTrigger.inset,
.MenubarCheckboxItem.inset,
.MenubarRadioItem.inset {
  padding-left: 20px;
}

.MenubarItem[data-state='open'],
.MenubarSubTrigger[data-state='open'] {
  background-color: var(--violet4);
  color: var(--violet11);
}

.MenubarItem[data-highlighted],
.MenubarSubTrigger[data-highlighted],
.MenubarCheckboxItem[data-highlighted],
.MenubarRadioItem[data-highlighted] {
  background-image: linear-gradient(135deg, var(--violet9) 0%, var(--violet10) 100%);
  color: var(--violet1);
  
}

.MenubarItem[data-disabled],
.MenubarSubTrigger[data-disabled],
.MenubarCheckboxItem[data-disabled],
.MenubarRadioItem[data-disabled] {
    color: white;
  pointer-events: none;
}

.MenubarItemIndicator {
  position: absolute;
  left: 0;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.MenubarSeparator {
  height: 1px;
  background-color: #444;
  margin: 5px;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve9);
}

[data-highlighted] > .RightSlot {
  color: white;
}

[data-disabled] > .RightSlot {
  color: var(--mauve8);
}